<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.coupon_con.infrastructure.adapter.out.persistence.mapper.CouponMapper">

    <insert id="insert" parameterType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.CouponMybatisEntity" useGeneratedKeys="true" keyProperty="couponId">
        INSERT INTO coupon (coupon_name, coupon_number,coupon_created_at, coupon_expired_at, quantity) VALUES (#{couponName}, #{couponNumber}, #{couponCreatedAt}, #{couponExpiredAt}, #{quantity})
    </insert>

    <select id="findAll" resultType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.CouponMybatisEntity">
        SELECT * FROM coupon
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM coupon WHERE coupon_Id = #{couponId}
    </delete>

    <update id="update" parameterType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.CouponMybatisEntity">
        UPDATE coupon
        SET
           coupon_name = #{couponName},
           coupon_number = #{couponNumber},
           quantity = #{quantity},
           is_deleted = #{isDeleted}
        WHERE coupon_Id = #{couponId}
    </update>

    <update id ="updateQuantity" parameterType="map">
        UPDATE coupon
        SET quantity = #{quantity}
        WHERE coupon_id = #{couponId}
    </update>

    <!-->  낙관적 락
    <update id ="updateQuantity" parameterType="map">
    UPDATE coupon
    SET quantity = #{quantity},
        version = #{version} + 1
    WHERE coupon_id = #{couponId}
        AND version = #{version}
    </update>
    <-->
    <update id="updateQuantityOnIssue" parameterType="java.lang.Long" >
        UPDATE coupon
        SET quantity = quantity - 1
        WHERE coupon_id = #{couponId}
        AND quantity > 0
    </update>

    <select id="findById" parameterType="java.lang.Long" resultType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.CouponMybatisEntity">
        SELECT * FROM coupon WHERE coupon_Id = #{couponId} FOR UPDATE
    </select>


</mapper>