<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.coupon_con.infrastructure.adapter.out.persistence.mapper.MemberCouponIssueMapper">

    <insert id="insertMemberCouponIssue" parameterType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.MemberCouponIssueMybatisEntity">
        INSERT INTO member_coupon_issue (coupon_id, member_id, issued_at)
        VALUES (#{couponId}, #{memberId}, #{issuedAt})
    </insert>

    <insert id="batchInsertMemberCouponIssue" parameterType="java.util.List">
        INSERT INTO member_coupon_issue (coupon_id,member_id, issued_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.couponId}, #{item.memberId}, #{item.issuedAt})
        </foreach>
    </insert>

    <update id="updateUsedStatus" parameterType="map">
        UPDATE member_coupon_issue
        SET used = #{used}, used_at = #{usedAt}
        WHERE coupon_Issue_Id = #{couponIssueId}
    </update>

    <select id="findByCouponIssue" resultType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.MemberCouponIssueMybatisEntity">
        SELECT * FROM member_coupon_issue
        WHERE member_id = #{memberId}
        AND  coupon_id = #{couponId}
    </select>
</mapper>