<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.coupon_con.infrastructure.adapter.out.persistence.mapper.MemberMapper">


    <select id="findById" resultType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.MemberMybatisEntity" >
        SELECT * FROM member WHERE member_id = #{memberId}
    </select>

    <select id="findAll" resultType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.MemberMybatisEntity">
       SELECT * FROM member ORDER BY member_id ASC
    </select>

    <select id="findAllPaged" resultType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.MemberMybatisEntity">
        SELECT m.*
        FROM member m
        LEFT JOIN member_coupon_issue i
          ON m.member_id = i.member_id
         AND i.coupon_id = #{couponId}
        WHERE m.member_id > #{lastId}
         AND i.member_id IS NULL -- 이미 발급된 회원 제외
        ORDER BY m.member_id ASC
        LIMIT #{pageSize}
    </select>

    <!-- 파티션 경계 계산용: 전체 member 대상 min/max -->
    <select id="findMinId" resultType="Long">
        SELECT MIN(member_id) FROM member
    </select>

    <select id="findMaxId" resultType="Long">
        SELECT MAX(member_id) FROM member
    </select>

    <!-- 파티션 구간(minId~maxId) 안에서만 keyset 순회 -->
    <select id="findAllPagedInRange" resultType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.MemberMybatisEntity">
        SELECT m.*
        FROM member m
                 LEFT JOIN member_coupon_issue i
                           ON m.member_id = i.member_id
                               AND i.coupon_id = #{couponId}
        WHERE m.member_id > #{lastId}
          AND m.member_id &lt;= #{maxId} # 구간 최대 ID
          AND i.member_id IS NULL # 쿠폰 발급 안한 사람만
        ORDER BY m.member_id ASC
        LIMIT #{pageSize}
    </select>


</mapper>