<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.coupon_con.infrastructure.adapter.out.persistence.mapper.MemberMapper">


    <select id="findById" resultType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.MemberMybatisEntity" >
        SELECT * FROM member WHERE member_id = #{memberId}
    </select>

    <select id="findAll" resultType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.MemberMybatisEntity">
       SELECT * FROM member ORDER BY member_id ASC
    </select>

    <select id="findAllPaged" resultType="com.example.coupon_con.infrastructure.adapter.out.persistence.entity.MemberMybatisEntity">
        SELECT m.*
        FROM member m
        LEFT JOIN member_coupon_issue i
          ON m.member_id = i.member_id
         AND i.coupon_id = #{couponId}
        WHERE m.member_id > #{lastId}
         AND i.member_id IS NULL -- 이미 발급된 회원 제외
        ORDER BY m.member_id ASC
        LIMIT #{pageSize}
    </select>



</mapper>